.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}



.footer-content {
    text-align: center;
}


/* pcHeader */
.pc-header {
    margin-bottom: 10px;
}

.pc-header .loginView {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc-header .menuTabs {
    display: flex;
    justify-content: space-between;
}


/* PcNewsContainer */
.pc-news-container .container {
    display: flex;
}

.container .tabs_news {
    display: flex;
    width: 500px;
    padding-left: 10px;
}

.top-area {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 12px;
}

.top-left-container {
    width: 500px
}

.newsCard .ant-card-body {
    padding-top: 0;
}

.newsCard li {
    height: 25px !important;
}

.newsCard li a {
    color: #666 !important;
}

.row2 {
    margin-top: 10px;
}