.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}



.footer-content {
    text-align: center;
}


/* pcHeader */
.pc-header {
    margin-bottom: 10px;
}

.pc-header .loginView {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc-header .menuTabs {
    display: flex;
    justify-content: space-between;
}


/* PcNewsContainer */
.pc-news-container .container {
    display: flex;
}

.container .tabs_news {
    display: flex;
    width: 500px;
    padding-left: 10px;
}


.top-area {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 12px;
}

@media screen and (max-width: 645px) {
    .top-area {
        flex-direction: column;
        width: 100%;
    }

    .top-area .top-left-container {
        width: 100%;
    }

    .top-area .top-medium-container {
        max-width: 100%;
        padding-top: 12px;
    }

    .news-recommand-list .ant-card-body {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
}

.top-left-container {
    width: 500px;
}

@media (max-width: 1000px) {
    .top-left-container {
        width: 60%;
    }
}

.news-recommand-list .ant-card-body {
    padding-top: 0;
}

.news-recommand-list li {
    height: 25px !important;
}

.news-recommand-list li a {
    color: #666 !important;
}

.row2 {
    margin-top: 10px;
}