.ant-card-head {
    border: none !important;
}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.custom-image {
    flex-grow: 0;
    flex-shrink: 0;
}

.custom-description p {
    color: #999;
}

.content-wrapper {
    width: 100%;
}

.top-medium-container {
    flex-shrink: 1;
    height: 306px;
    min-width: 0;
    flex-grow: 1;
}

.change-logo {
    margin-left: 8px;
    cursor: pointer;
    flex-shrink: 0;
}

.change-logo.rotate {
    transform: rotate(-360deg);
    transition: transform .5s ease-in-out;
}

.news-card-list-wrapper .ant-card-body {
    padding: 0;
}

@media screen and (max-width: 760px) {
    .news-recommand-list .change-text {
        display: none;
    }
}