.tab-pane-wrapper {
    margin-right: 6px;
}

.ant-tabs-nav-list .ant-tabs-tab:nth-child(2) {
    margin-left: 6px !important;
}

.ant-tabs-nav-list .ant-tabs-tab {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}